@import './globals/globals.scss';

.mastercard {
  padding: 0.5rem 0;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  @media screen {
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  &__ad {
    display: block;
    padding-top: 20px;
  }
}
